<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoArgentinaPrograma.png" id="LogoAP" alt="">
        </div>
        <div class="redes">
            <a href="" title="facebook"><img src="../../../assets/facebookLogo.png" id="facebookLogo" alt=""></a>
            <a href="" title="github"><img src="../../../assets/GitHubLogo.png" id="GitHubLogo" alt=""></a>
            <a href="https://www.instagram.com/nicobonals/" title="instagram"><img src="../../../assets/Instagram_logo_2022.png" id="InstagramLogo" alt=""></a>
            <a href="" title="linkedin"><img src="../../../assets/linkedinLogo.png" id="linkedinLogo" alt=""></a>
            <button type="button" class="btn btn-outline-primary">Log In</button>
        </div>
    </div>
</div>

